@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-full m-0 p-0;
  }
  
  body {
    @apply bg-gray-50 text-gray-900;
  }
  
  #root {
    @apply h-full;
  }
}
